<div class="nomster-box col-10 offset-1">
  <h1><%= @place.name %> </h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>
  
  <% if @place.longitude.present? && @place.latitude.present?  %>
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude  %> , lng: <%= @place.longitude  %> };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GEOCODER_API_KEY'] %>&callback=initMap"></script>

    <div id="map"></div>
  <% end %>
  
  <br />
    
  <div style="text-align: right">
      <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
        <%= link_to place_path(@place), method: :delete, data: { confirm:'Are you sure you want to delete this?' }, class: 'btn btn-danger' do %>
          <span>Delete</span>
        <% end %>
      <% end %>
  </div>
</div>

<div class="clear"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a Comment</h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right">
          <span aria-hidden="true" class="fa fa-times"></span>
        </button>
      </div>
      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.input :message %>
          <%= f.input :rating, as: :select, collection: Comment::RATINGS, prompt: "Select One" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a Comment", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-10 offset-1">
  <h1 class="float: left;">Comments</h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-plus-circle"></i>
      <span>Add a Comment</span>
  </button>
</div>

<div class="clear"></div>

<div class="row">
  <% @place.comments.each do |comment| %>
  <div class="col-12 col-sm-6">
    <blockquote>
        <% if comment.humanize_ratings.present? %>
          <b>
            <% comment.humanize_ratings.times do |i| %>
              <i class="fa fa-star"></i>
            <% end %>
          </b>
          <b>
            <% (5 - comment.humanize_ratings).times do |i| %>
              <i class="fa fa-star-o"></i>
            <% end %>
          </b>
        <% end %>
        <br />
        <%= comment.message %>
        <small class="float-right"><%= comment.user.email %></small>
    </blockquote>
  </div>
<% end %>
</div>