<div class="nomster-box col-10 offset-1">
  <h1><%= @place.name %> </h1>
  <i><%= @place.address %></i>
  <br/><br/>
  <p><%= @place.description %></p>
  
  <% if @place.longitude.present? && @place.latitude.present?  %>
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude  %> , lng: <%= @place.longitude  %> };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GEOCODER_API_KEY'] %>&callback=initMap"></script>

    <div id="map"></div>
  <% end %>
  
  <br />
    
  <div style="text-align: right">
      <% if current_user && current_user == @place.user %>
        <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
        <%= link_to place_path(@place), method: :delete, data: { confirm:'Are you sure you want to delete this?' }, class: 'btn btn-danger' do %>
          <span>Delete</span>
        <% end %>
      <% end %>
  </div>
</div>

<div class="clear"></div>

<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating, as: :select, collection: Comment::RATINGS, prompt: "Select One" %>
  <%= f.submit "Add a Comment", class: "btn btn-primary" %>
<% end %>

<h1>Comments</h1>

<% @place.comments.each do |comment| %>
<div>
  <blockquote>
      <b><%= comment.rating %></b> - 
      <%= comment.message %>
      <small><%= comment.user.email %></small>
  </blockquote>
</div>
<% end %>